# Backend env variables (local development)
# Render-da bunları Environment Variables kimi əlavə edin

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=parla_clean
DB_SSL=false

JWT_SECRET=parla-super-secret-key-2026

PORT=3000
